apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: '{{ pvc_name }}'
  namespace: '{{ namespace }}'
  labels:
    app: '{{ ext_app_name }}'
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: '{{ pvc_size }}'